.about-section {
  background-color: #2b422c;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px;
  width: 100%;
}

.about-section-img, .about-section-info {
  margin: 30px 20px;
}

.about-section-img {
  display: flex;
  justify-content: center;
}

.about-section-img img {
  height: 50%;
  width: 50%;
  border-radius: 100%;
}

.about-section-info {
  margin: 0;
}

.about-section a, .about-section-info h2, .about-section-info p {
  text-align: center;
}

.about-section-info p {
  margin: 20px 0px;
  line-height: 1.5;
}

.about-section .button-section {
  justify-content: center;
  margin: 50px 0px;
}

@media (min-width: 600px) {
  .about-section a, .about-section-info h2, .about-section-info p {
    text-align: left;
  }

  .about-section-img, .about-section .button-section {
    justify-content: left;
  }
}

@media (min-width: 900px) {
  .about-section {
    flex-direction: row;
  }

  .about-section-img {
    height: 100%;
    margin: 20px 30px 20px 0px;
    width: calc(40% - 30px);
  }

  .about-section-img img {
    height: 100%;
    width: 100%;
  }

  .about-section-info {
    align-self: center;
    margin: 20px 0px 20px 30px;
    width: calc(60% - 30px);
  }
}
