.header-menu {
  border-bottom: 1px solid #f3f3f3;
  height: 70px;
  font-size: 22px;
  text-align: center;
  width: 100%;
  padding: 20px 50px;
}

.header-menu a {
	color: #222922;
	text-decoration: none;
  margin: 10px;
}

.header-menu a:hover {
  color: #717171;
}

@media (min-width: 600px) {
  .header-menu {
    font-size: 16px;
    text-align: right;
  }
}
