.button-section {
  display: flex;
  justify-content: left;
  margin: 15px 0px;
  width: 100%;
}

.button-section button {
  background-color: rgba(255, 255, 255, 0);
  max-width: 80%;
  width: 300px;
  height: 60px;
  color: #2c422d;
  font-size: 22px;
}

.button-section button:hover {
  background-color: #2c422d;
  color: #fff;
}
