.footer {
  background-color: #2f2f2f;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.footer h3 {
  margin: 10px;
  text-align: center;
  width: 100%;
}

.footer a {
  color: #fff;
  font-size: 14px;
  margin: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer a:hover {
  color: #717171;
}
