.footer-section {
  background-color: #2f2f2f;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 50px;
  width: 100%;
}

.footer-section h3 {
  margin: 10px;
  text-align: center;
  width: 100%;
}

.footer-section a {
  color: #fff;
  font-size: 14px;
  margin: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-section a:hover {
  color: #717171;
}
