@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  animation: 0.8s ease 0s slideInFromTop;
  z-index: 0;
}

.project {
  margin: 20px;
  width: calc(100% - 40px);
  height: 100%;
}

.project img {
  width: 100%;
}

.project:hover {
  background-color: #fff;
}

.project h2 {
  font-size: 16px;
}

@media (min-width: 600px) {
  .project {
    width: calc(50% - 40px);
  }
}

@media (min-width: 900px) {
  .project {
    width: calc(25% - 40px);
  }
}
