@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding: 30px 50px;
}

.projects-section h2.my-projects-title, .projects-section a {
  text-align: center;
  width: 100%;
}

.project {
  border: 2px solid #f3f3f3;
  margin: 20px;
  width: calc(100% - 40px);
  position: relative;
}

.project img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-hover-info {
  align-items: center;
  background-color: rgba(243, 243, 243, 0.9);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  transition: .5s ease;
  width: 100%;
}

.project-hover-info span {
  font-size: 40px;
}

.project-hover-info h2.project-name-hover {
  color: #2d422e;
}

.project-hover-info:hover {
  opacity: 1;
}

.project-hover-info:hover h2 {
  opacity: 1;
  animation: 0.8s ease 0s slideInFromTop;
}

.project-hover-info:hover a {
  opacity: 1;
  animation: 0.8s ease 0s slideInFromBottom;
}

@media (min-width: 600px) {
  .project {
    width: calc(50% - 40px);
  }

  .project-hover-info h2.project-name-hover {
    font-size: 36px;
  }
}

@media (min-width: 900px) {
  .project {
    margin: 15px;
    width: calc(25% - 30px);
  }

  .project-hover-info h2.project-name-hover {
    font-size: 26px;
  }

  .project-hover-info button {
    font-size: 18px;
  }
}
