@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* animation: 0.8s ease 0s slideInFromTop;
  z-index: 0; */
}

.projects-section h2.my-projects-title, .projects-section a {
  text-align: center;
  width: 100%;
}

.project {
  border: 2px solid #f3f3f3;
  margin: 20px;
  width: calc(100% - 40px);
  position: relative;
}

.project img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-hover-info {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  transition: .5s ease;
  width: 100%;
}

.project-hover-info span {
  font-size: 40px;
}

.project-hover-info h2.project-name-hover {
  color: #2d422e;
  font-size: 36px;
}

.project-hover-info:hover {
  opacity: 1;
}

.project h2 {
  font-size: 16px;
}

@media (min-width: 600px) {
  .project {
    width: calc(50% - 40px);
  }
}

@media (min-width: 900px) {
  .project {
    width: calc(25% - 40px);
  }
}
