@-webkit-keyframes borderAnimation {
    from {width: 0;}
    to {width: 30%;}
}

.project-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 50px;
  width: 100%;
}

.project-image-section, .project-info-section {
  padding: 20px 0px;
  width: 100%;
}
.project-image-section {
  order: 2;
}

.project-image-section img {
  margin-bottom: 10px;
  width: 100%;
}

.project-info-section {
  order: 1;
}

.project-info-section hr {
  animation: borderAnimation 2s;
  animation-timing-function: ease-in;
  border: none;
  height: 3px;
  background-color: #eaeaea;
  text-align: left;
  margin: 0 0 15px 0;
  width: 30%;
}

.technigue-text {
  margin: 20px 0px;
  font-style: italic;
  font-size: 14px;
}

.project-section .button {
  margin: 40px 0px;
}

@media (min-width: 600px) {
  .project-image-section, .project-info-section {
    padding: 30px;
    width: 50%;
  }
}
