.topics-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 50px 50px 50px;
}

.topic-box {
  background-color: #f3f3f3;
  padding: 50px 30px;
  width: calc(100% - 40px);
  margin: 20px;
}

@media (min-width: 900px) {
  .topic-box {
    width: calc(33% - 40px);
  }
}
